@font-face {
    font-family: JetBrainsMono;
    src: url(./font/JetBrainsMono-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(./font/JetBrainsMono-Italic.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(./font/JetBrainsMono-Bold.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(./font/JetBrainsMono-BoldItalic.woff2);
    font-weight: 500;
    font-style: italic;
}


body {
    font-family: JetBrainsMono;
}

button {
    border: 0px;
    background-color: white;
}