/* setup font face */
@font-face {
    font-family: JetBrainsMono;
    src: url(./font/JetBrainsMono-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(./font/JetBrainsMono-Italic.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(./font/JetBrainsMono-Bold.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(./font/JetBrainsMono-BoldItalic.woff2);
    font-weight: 500;
    font-style: italic;
}

body {
    font-family: JetBrainsMono;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0px;
}

/* declare constants */

:root {
    --unit-width: 130px;
    --default-position: min(10vw, calc((100vw - 6*var(--unit-width))/2));
    --projects-position: calc(var(--default-position) + var(--unit-width));
    --resume-position: calc(var(--default-position) + (var(--unit-width) * 2));
    --open-source-position: calc(var(--default-position) + (var(--unit-width) * 3));
    font-size: 16px;
    line-height: 1.2;
}

/* Type System */

.small {
    font-size: .75rem;
    font-weight: 500;
}

.big {
    font-size: 1.312rem;
}

h3 {
    font-size: 1.312rem;
}

h2 {
    font-size: 1.75rem;
}

h1 {
    font-size: 2.375rem;
}

/* media rules */

@media only screen and (max-width: 780px) {
    #header-container {
        visibility: hidden;
    }
}

@media only screen and (min-width: 780px) {
    #skinny-header-container {
        visibility: hidden;
    }
}

/* header */

#moving-button {
    position: fixed;
    left: var(--default-position);
    top: 100px;
    z-index: 2;
}

#header {
    background-color: #1e1e1e;
    position: fixed;
    left: var(--default-position);
    right: min(10vw, calc((100vw - 6*var(--unit-width))/2));
    min-width: calc(6*var(--unit-width));
    top: 0px;
    z-index: 1;
}

#header>div {
    display: flex;
    align-items: flex-end;
    margin-left: var(--unit-width);
    padding-top: 160px;
    justify-content: space-between;
}

#selection-container {
    position: fixed;
    top: 160px;
    left: var(--projects-position);
    background-color: #1e1e1e;
    display: flex;
    width: calc(3 * var(--unit-width));
    z-index: 3;
}

#selection-container-copy {
    background-color: #1e1e1e;
    display: flex;
    width: calc(3 * var(--unit-width));
}

button {
    background-color: #1e1e1e;
    color: #fff;
    border: 0px;
    font-family: inherit;
    width: var(--unit-width);
    text-align: left;
    font-size: inherit;
    line-height: inherit;
    padding: 0px;
}

#links-container {
    display: flex;
    width: calc(var(--unit-width) * 2);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

#links-container>div {
    width: var(--unit-width);
    text-align: right;
}

hr {
    color: #414141;
    margin-bottom: 0px;
}

.purple-emph {
    color: #804c9e;
}

/* skinny header */

#skinny-header {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 50px;
}

#skinny-header-top {
    display: flex;
    justify-content: space-between;
}

#skinny-header-top > button {
    width: auto;
    margin: 15px;
}

#skinny-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skinny-header-content>button {
    width: auto;
    margin: 15px;
}

#skinny-header > hr {
    position: absolute;
    width: 100vw;
    bottom: 0px;
}

/* content */

.content {
    margin-left: var(--projects-position);
    margin-top: 250px;
    margin-right: min(10vw, calc((100vw - 6*var(--unit-width))/2));
}

#default-content {
    max-width: 303px;
    margin-top: 300px;
}

.repo {
    border-style: solid;
    border-width: 1px;
    border-color: #414141;
    border-radius: 5px;
    max-width: calc(var(--unit-width) * 5);
    height: 200px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 50px;
}

/* animations */
/* moving button animations */
/* default to... */

@keyframes moving-button-default-to-open {
    from {
        left: var(--default-position);
    }

    to {
        left: var(--open-source-position);
    }
}

@keyframes moving-button-default-to-projects {
    from {
        left: var(--default-position);
    }

    to {
        left: var(--projects-position);
    }
}

@keyframes moving-button-default-to-resume {
    from {
        left: var(--default-position);
    }

    to {
        left: var(--resume-position);
    }
}

/* open to.. */

@keyframes moving-button-open-to-default {
    from {
        left: var(--open-source-position);
    }

    to {
        left: var(--default-position);
    }
}

@keyframes moving-button-open-to-projects {
    from {
        left: var(--open-source-position);
    }

    to {
        left: var(--projects-position);
    }
}

@keyframes moving-button-open-to-resume {
    from {
        left: var(--open-source-position);
    }

    to {
        left: var(--resume-position);
    }
}

/* projects to.. */

@keyframes moving-button-projects-to-default {
    from {
        left: var(--projects-position);
    }

    to {
        left: var(--default-position);
    }
}

@keyframes moving-button-projects-to-open {
    from {
        left: var(--projects-position);
    }

    to {
        left: var(--open-source-position);
    }
}

@keyframes moving-button-projects-to-resume {
    from {
        left: var(--projects-position);
    }

    to {
        left: var(--resume-position);
    }
}

/* resume to.. */

@keyframes moving-button-resume-to-default {
    from {
        left: var(--resume-position);
    }

    to {
        left: var(--default-position);
    }
}

@keyframes moving-button-resume-to-open {
    from {
        left: var(--resume-position);
    }

    to {
        left: var(--open-source-position);
    }
}

@keyframes moving-button-resume-to-projects {
    from {
        left: var(--resume-position);
    }

    to {
        left: var(--projects-position);
    }
}

/* hr animations */

@keyframes hr-default-to-other {
    from {
        margin-left: 0vw;
    }

    to {
        margin-left: var(--unit-width);
    }
}

@keyframes hr-other-to-default {
    from {
        margin-left: var(--unit-width);
    }

    to {
        margin-left: 0vw;
    }
}

/* selector animations */

@keyframes to-open-source-selector {
    from {
        color: #fff;
    }

    to {
        color: #92bbe0;
    }
}

@keyframes from-open-source-selector {
    from {
        color: #92bbe0;
    }

    to {
        color: #fff;
    }
}

@keyframes to-projects-selector {
    from {
        color: #fff;
    }

    to {
        color: #e5d591;
    }
}

@keyframes from-projects-selector {
    from {
        color: #e5d591;
    }

    to {
        color: #fff;
    }
}

@keyframes to-resume-selector {
    from {
        color: #fff;
    }

    to {
        color: #a1d47f;
    }
}

@keyframes from-resume-selector {
    from {
        color: #a1d47f;
    }

    to {
        color: #fff;
    }
}

/* animations for skinny header */

@keyframes open-header {
    from { height: 50px; }
    to { height: 100vh; }
}

@keyframes close-header {
    from { height: 100vh; }
    to { height: 50px; }
}

/* animation assignments */

.animated {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* default to open */


#moving-button.animate-default-to-open {
    animation-name: moving-button-default-to-open;
}

hr.animate-default-to-open {
    animation-name: hr-default-to-other;
}

#open-source-selector.animate-default-to-open {
    animation-name: to-open-source-selector;
}

/* default to projects */

#moving-button.animate-default-to-projects {
    animation-name: moving-button-default-to-projects;
}

hr.animate-default-to-projects {
    animation-name: hr-default-to-other;
}

#projects-selector.animate-default-to-projects {
    animation-name: to-projects-selector;
}

/* default to resume */

#moving-button.animate-default-to-resume {
    animation-name: moving-button-default-to-resume;
}

hr.animate-default-to-resume {
    animation-name: hr-default-to-other;
}

#resume-selector.animate-default-to-resume {
    animation-name: to-resume-selector;
}

/* open source to default */

#moving-button.animate-open-to-default {
    animation-name: moving-button-open-to-default;
}

hr.animate-open-to-default {
    animation-name: hr-other-to-default;
}

#open-source-selector.animate-open-to-default {
    animation-name: from-open-source-selector;
}

/* open source to projects */

#moving-button.animate-open-to-projects {
    animation-name: moving-button-open-to-projects;
}

hr.animate-open-to-projects {
    margin-left: var(--unit-width);
}

#projects-selector.animate-open-to-projects {
    animation-name: to-projects-selector;
}

#open-source-selector.animate-open-to-projects {
    animation-name: from-open-source-selector;
}

/* open source to resume */

#moving-button.animate-open-to-resume {
    animation-name: moving-button-open-to-resume;
}

hr.animate-open-to-resume {
    margin-left: var(--unit-width);
}

#resume-selector.animate-open-to-resume {
    animation-name: to-resume-selector;
}

#open-source-selector.animate-open-to-resume {
    animation-name: from-open-source-selector;
}

/* projects to default */

#moving-button.animate-projects-to-default {
    animation-name: moving-button-projects-to-default;
}

hr.animate-projects-to-default {
    animation-name: hr-other-to-default;
}

#projects-selector.animate-projects-to-default {
    animation-name: from-projects-selector;
}

/* projects to open source */

#moving-button.animate-projects-to-open {
    animation-name: moving-button-projects-to-open;
}

hr.animate-projects-to-open {
    margin-left: var(--unit-width);
}

#projects-selector.animate-projects-to-open {
    animation-name: from-projects-selector;
}

#open-source-selector.animate-projects-to-open {
    animation-name: to-open-source-selector;
}

/* projects to resume */

#moving-button.animate-projects-to-resume {
    animation-name: moving-button-projects-to-resume;
}

hr.animate-projects-to-resume {
    margin-left: var(--unit-width);
}

#projects-selector.animate-projects-to-resume {
    animation-name: from-projects-selector;
}

#resume-selector.animate-projects-to-resume {
    animation-name: to-resume-selector;
}

/* resume to default */

#moving-button.animate-resume-to-default {
    animation-name: moving-button-resume-to-default;
}

hr.animate-resume-to-default {
    animation-name: hr-other-to-default;
}

#resume-selector.animate-resume-to-default {
    animation-name: from-resume-selector;
}

/* resume to open source */

#moving-button.animate-resume-to-open {
    animation-name: moving-button-resume-to-open;
}

hr.animate-resume-to-open {
    margin-left: var(--unit-width);
}

#resume-selector.animate-resume-to-open {
    animation-name: from-resume-selector;
}

#open-source-selector.animate-resume-to-open {
    animation-name: to-open-source-selector;
}

/* resume to projects */

#moving-button.animate-resume-to-projects {
    animation-name: moving-button-resume-to-projects;
}

hr.animate-resume-to-projects {
    margin-left: var(--unit-width);
}

#resume-selector.animate-resume-to-projects {
    animation-name: from-resume-selector;
}

#projects-selector.animate-resume-to-projects {
    animation-name: to-projects-selector;
}

/* skinny header assignments */

.open-header {
    animation-name: open-header;
}

.close-header {
    animation-name: close-header;
}